@custom-variant dark (&:where(.dark, .dark *));
@custom-variant c-md (@media (min-width: 960px));
@custom-variant c-lg (@media (min-width: 1230px));
@import "tailwindcss";

@theme {
  --color-testgray: #555555;
  --font-sans: "Noto Sans TC", "PingFang TC", "Microsoft JhengHei", ui-sans-serif, system-ui, sans-serif;

  /* --color-primary: theme(colors.blue.600);
  --color-accent:  theme(colors.sky.600);

  --color-navbar:  theme(colors.gray.50);
  --color-navlink: theme(colors.slate.700); */
}
